* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('/fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-italic-webfont.woff2') format('woff2'),
       url('/fonts/opensans-italic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-semibold-webfont.woff2') format('woff2'),
       url('/fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('/fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@keyframes heroBack {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.5, 1.5);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes fadeIn {
  0%   {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.a-reset {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  outline: none;
}

.a-reset span {
  position: relative;
  z-index: 1;
}

.p-reset {
  margin: 0;
  padding: 0;
}

.h2-reset {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: #333333;
}

.h3-reset {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.btn-reset {
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.btn-reset:focus-visible {
  outline: none;
  border: none;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__top {
  position: relative;
  background-color: #000;
  z-index: 2;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 1700px;
}

.tab-content {
  display: none;
}

.tab-content-active {
  display: block!important;
  animation: fadeIn 1s;
}

.focus-universal::before {
  content: '';
  position: absolute;
  top: -3px;
  bottom: -3px;
  left: -3px;
  right: -3px;
  background-color: #9D5CD0;
  opacity: 0;
  transition: opacity .2s linear;
  z-index: -1;
}

.focus-universal:focus-visible:not(:active)::before {
  opacity: 1;
}

.header__top {
  padding: 25px 0;
}

.header__top-container {
  display: flex;
}

.header__burger {
  display: none;
}

.burger-exit {
  display: none;
}

.header__burger rect,
.header__burger path {
  transition: fill .2s linear;
}

.header__burger:hover rect,
.header__burger:hover path {
  fill: #C283F3;
}

.header__burger:active rect,
.header__burger:active path {
  fill: #7943A4;
}

.header__burger:focus-visible rect,
.header__burger:focus-visible path {
  fill: #7943A4;
}

.logo-link {
  outline: none;
  transition: transform .2s linear;
}

.header__logo-link {
  display: inline-block;
  margin-right: 11.1%;
  transform: translateY(5px);
}

.header__logo-link:hover,
.header__logo-link:focus-visible {
  transform: translateY(0);
}

.header__top-links {
  display: flex;
  align-items: center;
  width: 81.7%;
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item:not(:last-child) {
  margin-right: 56px;
}

.header__nav-item-link {
  position: relative;
  padding: 5px 3px;
  font-size: 18px;
  line-height: 25px;
  transition: color .2s linear;
}

.header__nav-item-link:hover {
  color: #C283F3;
}

.header__nav-item-link:active {
  color: #7943A4;
}

.header__entry-link {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  transition: color .2s linear;
}

.header__entry-link svg {
  position: relative;
  margin-right: 8px;
  z-index: 1;
}

.header__entry-link path {
  transition: fill .2s linear;
}

.header__entry-link:hover {
  color: #C283F3;
}

.header__entry-link:hover path {
  fill: #C283F3;
}

.header__entry-link:active {
  color: #9D5CD0;
}

.header__entry-link:active path {
  fill: #9D5CD0;
}

.header__bottom {
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.header__bottom-container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 18px;
}

.header__bottom-list {
  display: flex;
  margin-right: auto;
}

.header__dropdown {
  position: relative;
}

.header__dropdown:not(:last-child) {
  margin-right: 97px;
}

.header__dropdown-btn {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  transition: color .2s linear;
}

.header__dropdown-btn svg {
  vertical-align: 1px;
  margin-left: -1px;
  transition: transform .2s linear;
}

.header__dropdown-btn path {
  transition: stroke .2s linear;
}

.header__dropdown-btn:hover {
  color: #9D5CD0;
}

.header__dropdown-btn:hover path {
  stroke: #9D5CD0;
}

.header__dropdown-btn:active {
  color: #7943A4;
}

.header__dropdown-btn:active path {
  stroke: #7943A4;
}

.header__dropdown-btn-active {
  color: #7943A4;
}

.header__dropdown-btn-active svg {
  transform: rotate(0.5turn) translateY(-3px);
}

.header__dropdown-btn-active path {
  stroke: #7943A4;
}

.header__dropdown .header__dropdown-btn-active:focus-visible:not(:active) {
  background-color: transparent;
}

.header__dropdown-content {
  display: none;
  position: absolute;
  padding: 0 40px;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  left: 0;
  top: 50px;
  width: 300px;
  height: 300px;
  background: rgba(0, 0, 0, 0.4);
}

.dropdown-active {
  display: block;
}

.header__dropdown-item:not(:last-child) {
  margin-bottom: 18px;
}

.tintoretto {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(/img/dropdown-back-1.jpg);
}

.frederick {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(/img/dropdown-back-2.jpg);
}

.leonardo {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(/img/dropdown-back-3.jpg);
}

.verrocchio {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(/img/dropdown-back-4.jpg);
}

.header__dropdown-link {
  position: relative;
  display: block;
  padding: 11px 14px;
  background-color: #D88F99;
  background-size: cover;
  background-position: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

.header__dropdown-link::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  border: 2px solid #9D5CD0;
  opacity: 0;
  transition: opacity .2s linear;
}

.header__dropdown-link::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 2px solid #D1A9F0;
  background-color: rgba(194, 131, 243, 0.4);
  opacity: 0;
  transition: opacity .2s linear;
}

.header__dropdown-link:hover::before {
  opacity: 1;
}

.header__dropdown-link:focus-visible::before {
  opacity: 1;
}

.header__dropdown-link:active::after {
  opacity: 1;
}

.simplebar-track.simplebar-vertical {
  right: 19px;
  width: 2px;
  background-color: #000;
}

.simplebar-scrollbar:before {
  left: 0;
  right: 0;
  opacity: 1;
  background-color: #fff;
  border-radius: 0;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0;
  bottom: 0;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

.header__search-form {
  display: flex;
  align-items: center;
}

.header__top-search-container {
  display: none;
  background-color: #18171B;
}

.form-active {
  display: flex;
}

.header__search-btn rect,
.header__search-btn path {
  transition: fill .2s linear;
}

.header__search-btn:focus-visible:not(:active) path,
.header__search-btn:focus-visible:not(:active) rect,
.header__search-btn:hover path,
.header__search-btn:hover rect {
  fill: #C283F3;
}

.header__search-btn:active path,
.header__search-btn:active rect {
  fill: #7943A4;
}

.header__top-search-btn,
.header__bottom-search-btn {
  margin-right: 10px;
  cursor: pointer;
}

.header__bottom-search-btn {
  transform: translateY(2px);
}

.header__top-search-btn {
  display: none;
}

.header__search-input {
  position: relative;
  padding: 1px 0;
  width: 218px;
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  outline: none;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  transition: border-color .2s linear;
  -webkit-appearance: none;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.header__search-input:focus {
  border-color: #7943A4;
}

.header__search-input:focus::placeholder {
  opacity: 0;
}

.header__search-input:hover {
  border-color: #C283F3;
}

.header__search-input::placeholder {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.85);
  transition: opacity .2s linear;
}

.hero {
  position: relative;
  padding-top: 242px;
  padding-bottom: 123px;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.hero__swiper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  animation: heroBack 20s infinite;
}

.hero__slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__slide-1 {
  background-image: url(/img/hero-slide-1.jpg);
}

.hero__slide-2 {
  background-image: url(/img/hero-slide-2.jpg);
}

.hero__slide-3 {
  background-image: url(/img/hero-slide-3.jpg);
}

.hero__container {
  position: relative;
  z-index: 1;
  pointer-events: none;
}

.hero__container-content {
  max-width: 597px;
}

.hero__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  color: #FFFFFF;
}

.hero__text {
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.hero__btn {
  position: relative;
  display: inline-block;
  padding: 22px 35px;
  background: #9D5CD0;
  border-radius: 100px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  pointer-events: auto;
  transition: background-color .2s linear;
}

.hero__btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  border: 2px solid #C283F3;
  border-radius: 100px;
  opacity: 0;
  transition: opacity .2s linear;
}

.hero__btn::after {
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  background-color: transparent;
  border: 2px solid #C283F3;
  border-radius: 100px;
  opacity: 0;
  transition: opacity .2s linear;
}

.hero__btn:hover.hero__btn::before {
  opacity: 1;
}

.hero__btn:focus-visible:not(:active).hero__btn::after {
  opacity: 1;
}

.hero__btn:active {
  background-color: #7943A4;
}

.hero__btn:active.hero__btn::before {
  opacity: 1;
}

.about {
  padding-top: 90px;
  padding-bottom: 69px;
}

.about__title {
  margin-bottom: 24px;
}

.about__description {
  max-width: 1080px;
  font-size: 16px;
  line-height: 32px;
  color: #333333;
}

.gallery {
  padding-top: 90px;
  padding-bottom: 80px;
  background-image: url(/img/gallery-back.jpg);
  background-size: cover;
  background-position: center;
}

.gallery__container {
  display: flex;
}

.gallery__title {
  margin-bottom: 27px;
  color: #fff;
}

.gallery__left-column {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  width: 25%;
}

.gallery__filter {
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.gallery__filter-span {
  display: inline-block;
  margin-bottom: 12px;
}

.gallery__filter .choices__inner {
  padding: 0;
  min-height: auto;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  transition: background-color .2s linear;
}

.gallery__filter .choices:focus-within:not(:active) {
  background-color: rgba(255, 255, 255, 0.2);
}

.gallery__filter .choices__inner:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.gallery__filter .choices__inner:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.gallery__filter .choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0;
}

.gallery__filter .choices__list--single {
  padding: 3px 16px 4px 14px;
}

.gallery__filter .choices__list--dropdown {
  background-color: transparent;
  border: 1px solid #999999;
  border-radius: 6px;
  z-index: 100;
}

.gallery__filter .choices__list--dropdown .choices__item {
  padding: 3px 16px 4px 14px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999999;
}

.gallery__filter .choices[data-type*=select-one]:after {
  margin-top: -6px;
  right: 14px;
  border: none;
  width: 13px;
  height: 12px;
  background-image: url(/img/arrow-down.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.gallery__filter .choices[data-type*=select-one].is-open:after {
  margin-top: 0;
  transform: rotate(180deg) translateY(2.5px);
}

.gallery__filter .choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.gallery__filter .choices__list--dropdown .is-selected {
  display: none;
}

.gallery__left-text {
  margin-top: auto;
  margin-bottom: -10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
}

.gallery__left-text-768 {
  display: none;
}

.gallery__left-link {
  position: relative;
  font-weight: 600;
  color: #9D5CD0;
  transition: color .2s linear;
}

.gallery__left-link::before {
  right: 2px;
  z-index: inherit;
}

.gallery__left-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #9D5CD0;
  opacity: 0;
  transition-property: opacity, background-color;
  transition-timing-function: linear;
  transition-duration: .2s;
}

.gallery__left-link:hover.gallery__left-link::after {
  opacity: 1;
}

.gallery__left-link:active.gallery__left-link::after {
  background-color:#7943A4;
  opacity: 1;
}

.gallery__left-link:focus-visible:not(:active) {
  color: #FFFFFF;
}

.gallery__left-link:active {
  color:#7943A4;
}

.gallery__slider-container {
  position: relative;
  padding-top: 14px;
  width: calc(75% - 50px);
}

.gallery__swiper {
  position: relative;
  height: 750px;
  overflow: hidden;
}

.swiper-navigation-container {
  display: flex;
  position: relative;
  margin-bottom: 29px;
  align-items: center;
  justify-content: flex-start;
  background-color: transparent;
}

.custom-pagination {
  display: block;
  position: relative;
  margin-right: 19px;
  bottom: auto;
  width: auto;
  color: white;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.custom-btn-prev,
.custom-btn-next {
  display: inline-block;
  position: relative;
  margin-top: 0;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: #666666;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  outline: none;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.custom-btn-prev::before,
.custom-btn-next::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  border: 2px solid #000000;
  border-radius: 100px;
  opacity: 0;
  transition: opacity .2s linear;
}

.custom-btn-prev:focus-visible:not(:active).custom-btn-prev::before,
.custom-btn-next:focus-visible:not(:active).custom-btn-next::before {
  opacity: 1;
}

.custom-btn-prev:hover,
.custom-btn-next:hover {
  background-color: #9D5CD0;
}

.custom-btn-prev:active,
.custom-btn-next:active {
  background-color: #7943A4;
}

.custom-btn-prev:active.custom-btn-prev::before,
.custom-btn-next:active.custom-btn-next::before {
  opacity: 1;
}

.custom-btn-prev {
  margin-right: 21px;
  left: 1px;
  background-image: url(/img/left.svg);
}

.custom-btn-next {
  right: 0;
  background-image: url(/img/right.svg);
}

.gallery__slide {
  background-color: #fff;
  height: 350px;
}

.gallery__swiper-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__swiper-btn {
  padding: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.gallery__swiper-btn:focus-visible:not(:active) {
  border: 3px solid #7943A4;
}

.gallery__swiper-btn::before {
  content: '';
  position: absolute;
  top: 25px;
  left: 25px;
  bottom: 25px;
  right: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(/img/full-size-btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  opacity: 0;
  transition: opacity 200ms linear;
}

.gallery__swiper-btn:hover.gallery__swiper-btn::before {
  opacity: 1;
}

.gallery__swiper-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(194, 131, 243, 0.4);
  opacity: 0;
  transition: opacity 200ms linear;
}

.gallery__swiper-btn:active.gallery__swiper-btn::after {
  opacity: 1;
}

.catalog {
  padding-top: 90px;
}

.catalog__heading-section {
  display: flex;
  margin-bottom: 23px;
  align-items: center;
}

.catalog__title {
  margin-right: 39px;
}

.catalog__languages-list {
  display: flex;
}

.catalog__languages-item {
  width: 46px;
  height: 46px;
}

.catalog__languages-item:not(:last-child) {
  margin-right: 50px;
}

.catalog__languages-btn {
  position: relative;
  width: 46px;
  height: 46px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 46px 46px;
  border-radius: 50%;
  transition-property: filter, border;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.catalog__languages-btn:hover {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.catalog__languages-btn:focus-visible:not(:active) {
  filter: drop-shadow(0px 0px 20px rgba(157, 92, 208, 0.7));
}

.catalog__languages-btn:active {
  border: 2px solid #7943A4;
  filter: none;
}

.catalog__languages-btn-active::before {
  content: '';
  position: absolute;
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
  background-color: transparent;
  border: 2px solid #7943A4;
  border-radius: 100px;
  animation: fadeIn .5s;
}

.icon-france {
  background-image: url(/img/icon-france.png);
}

.icon-germany {
  background-image: url(/img/icon-germany.png);
}

.icon-italy {
  background-image: url(/img/icon-italy.png);
}

.icon-rus {
  background-image: url(/img/icon-rus.png);
}

.icon-belgium {
  background-image: url(/img/icon-belgium.png);
}

.catalog__tab-content {
  display: none;
}

.catalog__unknown-lang {
  font-size: 18px;
  line-height: 24px;
}

.catalog__description {
  margin-bottom: 40px;
  max-width: 1080px;
}

.catalog__content {
  display: flex;
  justify-content: space-between;
}

.catalog__artist {
  flex: 0 1 750px;
  margin-right: 50px;
}

.catalog__figure {
  margin: 0;
}

.catalog__artist-img {
  margin-bottom: 20px;
  width: 100%;
  height: auto;
}

.catalog__artist-small {
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.artist-not-found-link {
  font-weight: 600;
  color: #9D5CD0;
}

.catalog__accordion {
  flex: 1 0 750px;
}

.catalog__accordion-content {
  display: flex;
}

.catalog__item-ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 300px;
}

.catalog__item-ul-btn {
  position: relative;
  margin-right: 60px;
  color: #333;
  transition: color, .2s linear;
}

.catalog__item-ul-btn::after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 3px;
  right: 3px;
  height: 1px;
  background-color: #9D5CD0;
  opacity: 0;
  transition: opacity .2s linear;
}

.catalog__item-ul-btn:focus-visible:not(:active) {
  color: #FFFFFF;
}

.catalog__item-ul-btn:focus-visible:not(:active) {
  background-color: #9D5CD0;
}

.catalog__item-ul-btn:hover {
  color: #9D5CD0;
}

.catalog__item-ul-btn:hover.catalog__item-ul-btn::after {
  opacity: 1;
}

.catalog__item-ul-btn:active {
  color: #7943A4;
}

.catalog__item-ul-btn:active.catalog__item-ul-btn::after {
  opacity: 0;
}

.artist-active-btn {
  color: #9D5CD0;
}

.ui-accordion .ui-accordion-header {
  margin: 0;
  padding: 41px 0;
  background: none;
  border: none;
  border-top: 1px solid #CACACA;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  transition-property: border-top, color;
  transition-duration: 200ms;
  transition-timing-function: linear;
  outline: none;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
  border-radius: 0;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
  border-radius: 0;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
  border-radius: 0;
}

.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
  border-radius: 0;
}

.catalog__accordion-span {
  background-color: transparent;
  transition-property: background-color, color;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.ui-accordion-header::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: transparent;
  z-index: 1;
  transition: background-color 200ms linear;
}

.catalog__accordion-item-last.ui-accordion-header::after {
  background-color: #CACACA;
}

.ui-accordion-header:hover {
  border-top: 1px solid #9D5CD0;
}

.ui-accordion-header:hover .catalog__accordion-span {
  color: #9D5CD0;
}

.ui-accordion-header:focus-visible:not(:active) .catalog__accordion-span {
  background-color: #9D5CD0;
  color: #fff;
}

.ui-accordion-header:focus-visible:not(:active) .ui-icon {
  background-color: #D1A9F0;
}

.ui-accordion-header:hover::after {
  background-color: #9D5CD0
}

.ui-accordion .ui-icon {
  position: absolute;
  margin-top: 0;
  right: 0;
  top: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ECECEC;
  background-image: url(/img/accordion-arrow.svg);
  background-size: 15px 15px;
  background-position: center;
  transition-property: background-color, transform;
  transition-duration: 200ms;
  transition-timing-function: linear;
}

.ui-accordion-header:hover .ui-icon {
  background-color: #D1A9F0;
}

.ui-accordion-header-active .ui-icon {
  transform: matrix(1, 0, 0, -1, 0, 0);
  background-color: #D1A9F0;
  border: 2px solid #9D5CD0;
}

.ui-accordion .ui-accordion-header-active {
  border-top: 1px solid #7943A4;
}

.ui-accordion .ui-accordion-header-active .catalog__accordion-span {
  color: #7943A4;
  background-color: transparent;
}

.ui-accordion-header-active::after {
  background-color: #7943A4;
}

.ui-accordion .ui-accordion-content {
  padding: 25px 0;
}

.ui-accordion-content-active {
  border: none;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: 'Open Sans', sans-serif;
}

.catalog__item-ul-btn {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
}

.artist-not-found-img {
  position: relative;
  margin-right: 24px;
  width: 34.4%;
  border: 2px solid #B7B7B7;
}

.artist-not-found-img::before {
  content: '';
  position: absolute;
  top: 12px;
  bottom: 12px;
  left: 12px;
  right: 12px;
  background-color: #B7B7B7;
}

.artist-not-found-text {
  padding: 40px 0;
}

.artist-not-found-paragraph {
  margin: 5px 0;
  max-width: 275px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #333333;
}

.ui-widget-content a {
  font-weight: 600;
  color: #9D5CD0;
}

.events {
  padding: 80px 0;
  padding-top: 90px;
}

.events__title {
  margin-bottom: 23px;
}

.events__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px;
  overflow: hidden;
}

.events__card {
  margin-bottom: 50px;
  padding: 0 25px;
  width: calc(100% / 3);
}

.events__card:not(:nth-child(-n+3)) {
  display: none;
}

.events__card-active {
  display: block!important;
}

.events__card-container {
  position: relative;
  border: 1px solid #CACACA;
  min-height: 700px;
}

.events__card-figure {
  position: relative;
  margin: 0;
}

.events__card-img {
  margin-bottom: 0;
  width: 100%;
  object-fit: contain;
}

.events__card-figcaption {
  padding: 5px 18px 2px 10px;
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999999;
}

.events__figcaption-span {
  display: block;
}

.events__card-container-content {
  display: flex;
  flex-direction: column;
  padding: 2px 46px 42px 50px;
  min-height: 350px;
}

.events__card-title {
  margin-bottom: 5px;
}

.events__description {
  margin-bottom: auto;
}

.events__link-more {
  position: relative;
  align-self: flex-start;
  font-weight: 400;
  line-height: 24px;
  color: #9D5CD0;
  transition: color .2s linear;
}

.events__link-more::before {
  z-index: inherit;
}

.events__link-more::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #9D5CD0;
  transition: background-color .2s linear;
}

.events__link-more:focus-visible {
  color: #fff;
}

.events__link-more:focus-visible:not(:active)::after {
  background-color: #fff;
}

.events__link-more:hover {
  color: #7943A4;
}

.events__link-more:hover::after {
  background-color: #7943A4;
}

.events__link-more:active {
  color: #333333;
}

.events__link-more:active::after {
  background-color: #333;
}

.events__pagination {
  display: none;
}

.events__btn {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 16px 34px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #9D5CD0;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  transition-property: background-color, color;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.events__btn::before {
  content: '';
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  background-color: transparent;
  border: 3px solid #C283F3;
  border-radius: 100px;
  opacity: 0;
  transition: opacity .2s linear;
}

.events__btn::after {
  content: '';
  position: absolute;
  top: -7px;
  right: -7px;
  bottom: -7px;
  left: -7px;
  background-color: transparent;
  border: 2px solid #C283F3;
  border-radius: 100px;
  opacity: 0;
  transition: opacity .2s linear;
}

.events__btn:hover {
  background-color: #9D5CD0;
  color: #fff;
}

.events__btn:active::before {
  opacity: 1;
}

.events__btn:focus-visible:not(:active)::after {
  opacity: 1;
}

.events__btn:active {
  background-color: #7943A4;
  color: #fff;
}

.events__btn-disabled {
  display: none;
}

.books {
  padding: 80px 0;
  padding-top: 88px;
  background-color: black;
  background-image: url(/img/books-back.jpg);
  background-size: cover;
  background-position: center;
}

.books__container {
  display: flex;
}

.books__title {
  margin-bottom: 24px;
  color: #FFFFFF;
}

.books__left-column {
  margin-right: 50px;
  width: 25%;
  color: #fff;
}

.books__checkbox-heading,
.books__price-headind {
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.books__price-headind {
  margin-bottom: 7px;
}

.books__checkbox-list {
  position: relative;
  margin-bottom: 27px;
}

.books__checkbox {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.books__checkbox-label {
  position: relative;
  cursor: pointer;
  transition: color .2s linear;
}

.books__checkbox-label::before {
  content: '';
  display: inline-block;
  margin-right: 13px;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  transition: border-color .2s linear;
}

.books__checkbox:checked + .books__checkbox-label {
  color: #C283F3;
}

.books__checkbox:checked + .books__checkbox-label::before {
  border-color: #C283F3;
  background-image: url(/img/checkbox-checked.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.books__checkbox-label:hover {
  color: #C283F3;
}

.books__checkbox-label:hover::before {
  border-color: #C283F3;
}

.books__checkbox:focus-visible + .books__checkbox-label {
  color: #C283F3;
}

.books__checkbox:focus-visible + .books__checkbox-label::before {
  border-color: #C283F3;
}

.books__price-container {
  display: flex;
  align-items: center;
  padding: 0 0 0 10px;
  width: 277px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 6px;
}

.price__input {
  margin-left: 5px;
  margin-right: 10px;
  padding: 0 10px;
  width: 73px;
  height: 38px;
  background: rgba(157, 92, 208, 0.5);
  border: none;
  border-radius: 0;
  color: #fff;
  outline: none;
  transition-property: background-color, outline;
  transition-duration: .2s;
  transition-timing-function: linear;
  -webkit-appearance: none;
}

.price__input:hover {
  background-color: #9D5CD0;
  outline: 1px solid #9D5CD0;
}

.price__input:focus-visible:not(:active) {
  background-color: #9D5CD0;
  outline: 1px solid #FFFFFF;
}

.price__input:active {
  background-color: #7943A4;
  outline: 1px solid #7943A4;
}

.price__input::placeholder {
  color: #fff;
}

input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.books__slider-container {
  position: relative;
  margin-bottom: -3px;
  align-self: flex-end;
  width: calc(75% - 50px);
}

.books__swiper {
  overflow: hidden;
  color: #FFFFFF;
}

.books__card {
  position: relative;
}

.books__card-img {
  margin-bottom: 13px;
  width: 100%;
  object-fit: contain;
}

.books__naming {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.books__book-price {
  position: absolute;
  right: 0;
  bottom: 77px;
  font-style: italic;
  font-size: 16px;
  line-height: 22px;
}

.books__author-name {
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 22px;
}

.books__order-btn {
  position: relative;
  display: inline-block;
  padding: 7px 20px;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  transition: background-color .2s linear;
}

.books__order-btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  border: 2px solid #C283F3;
  border-radius: 100px;
  opacity: 0;
  transition: opacity .2s linear;
}

.books__order-btn::after {
  content: '';
  position: absolute;
  top: 2px;
  right: 2px;
  bottom: 2px;
  left: 2px;
  background-color: transparent;
  border: 2px solid #C283F3;
  border-radius: 100px;
  opacity: 0;
  transition: opacity .2s linear;
}

.books__order-btn:hover {
  background-color: #9D5CD0;
}

.books__order-btn:focus-visible:not(:active)::after {
  opacity: 1;
}

.books__order-btn:active {
  background-color: #7943A4;
}

.books__order-btn:active::before {
  opacity: 1;
}

.mobile-active {
  display: none;
}

.projects {
  padding: 89px 0 88px;
}

.projects__title {
  margin-bottom: 25px;
}

.projects__description {
  margin-bottom: 20px;
  max-width: 1080px;
}

.nowrap-span {
  white-space: nowrap;
}

.projects__tooltip-btn {
  margin-right: 1px;
}

.tooltip-svg {
  vertical-align: -2px;
}

.tooltip-svg,
.tooltip-path-i {
  transition: fill .2s linear;
}

.projects__tooltip-btn:hover .tooltip-svg,
.projects__tooltip-btn:focus-visible:not(:active) .tooltip-svg {
  fill: #D1A9F0;
}

.projects__tooltip-btn:active .tooltip-svg {
  fill: #9D5CD0;
}

.projects__tooltip-btn:active .tooltip-path-i {
  fill: #fff;
}

.tippy-box[data-theme~='blanchard'] {
  padding: 5px 2px;
  background-color: #9D5CD0;
  border-radius: 0;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
}

.tippy-box[data-theme~='blanchard'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: #9D5CD0;
}
.tippy-box[data-theme~='blanchard'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: #9D5CD0;
}
.tippy-box[data-theme~='blanchard'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: #9D5CD0;
}
.tippy-box[data-theme~='blanchard'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: #9D5CD0;
}

.projects__description-link {
  position: relative;
  font-weight: 600;
  color: #9D5CD0;
  transition: color .2s linear;
}

.projects__description-link::before {
  z-index: inherit;
}

.projects__description-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #9D5CD0;
  opacity: 0;
  transition-property: opacity, background-color;
  transition-timing-function: linear;
  transition-duration: .2s;
}

.projects__description-link:hover::after {
  opacity: 1;
}

.projects__description-link:active {
  color:#7943A4;
}

.projects__description-link:active::after {
  background-color:#7943A4;
  opacity: 1;
}

.projects__description-link:focus-visible:not(:active) {
  color: #FFFFFF;
}

.projects__partners-heading {
  margin-bottom: 23px;
}

.projects__slider-container {
  position: relative;
}

.projects__slider-container .swiper-button-disabled {
  opacity: .4;
  pointer-events: none;
}

.projects__swiper{
  margin: 0 auto;
  max-width: 1450px;
  overflow: hidden;
}

.projects__btn-prev,
.projects__btn-next {
  position: absolute;
  top: 40%;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: #ECECEC;
  background-size: 12px 12px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
  transition-property: background-color;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.projects__btn-prev::before,
.projects__btn-next::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  opacity: 0;
  transition: opacity .2s linear;
}

.projects__btn-prev:focus-visible:not(:active)::before,
.projects__btn-next:focus-visible:not(:active)::before {
  opacity: 1;
}

.projects__btn-prev:hover,
.projects__btn-next:hover {
  background-color: #D1A9F0;
}

.projects__btn-prev:active,
.projects__btn-next:active {
  background-color: #D1A9F0;
}

.projects__btn-prev:active::before,
.projects__btn-next:active::before {
  opacity: 1;
}

.projects__btn-prev {
  left: 0;
  background-image: url(/img/arrow-left.svg);
}

.projects__btn-next {
  right: 0;
  background-image: url(/img/arrow-next.svg);
}

.projects__partners-card {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  height: 150px;
  border: 1px solid #CACACA;
  overflow: hidden;
}

.projects__partners-logo {
  object-fit: contain;
  max-width: 100%;
  filter: grayscale(100%);
  opacity: 0.3;
  transition-property: filter, opacity;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.projects__partners-card:hover .projects__partners-logo {
  filter: grayscale(0);
  opacity: 1;
}

.contacts__title {
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 0 50px;
  max-width: 1700px;
}

.contacts__container {
  display: flex;
  padding: 0;
  max-width: 1920px;
}

.contacts__left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 51px 50px 40px 7.9%;
  width: 35.52%;
  border: 1px solid #CACACA;
}

.contacts__left-container {
  max-width: 400px;
}

.contacts__left-heading {
  margin-bottom: 17px;
  font-weight: 400;
}

.contacts__address {
  margin-bottom: 27px;
  font-style: normal;
}

.contacts__form-label {
  position: relative;
}

.contacts__form-input {
  display: block;
  margin-bottom: 23px;
  padding: 10px 24px;
  width: 100%;
  border: 1px solid #333333;
  border-radius: 100px;
  outline: none;
  transition: background-color .2s linear;
  -webkit-appearance: none;
}

.contacts__form-input:hover {
  background-color: #EAEAEA;
}

.contacts__form-input:focus-within:not(:active) {
  background-color: #EAEAEA;
}

.js-validate-error-label {
  position: absolute;
  top: -17px;
  left: 20px;
  width: 200px;
  font-size: 12px;
  line-height: 16px;
  color: #D11616;
}

.contacts__form-btn {
  position: relative;
  padding: 15px 34px;
  margin-bottom: 37px;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #9D5CD0;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  transition-property: background-color, color;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.contacts__form-btn::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  border: 2px solid #C283F3;
  border-radius: 100px;
  opacity: 0;
  transition: opacity .2s linear;
}

.contacts__form-btn::after {
  content: '';
  position: absolute;
  top: -7px;
  right: -7px;
  bottom: -7px;
  left: -7px;
  background-color: transparent;
  border: 2px solid #C283F3;
  border-radius: 100px;
  opacity: 0;
  transition: opacity .2s linear;
}

.contacts__form-btn:hover {
  background-color: #9D5CD0;
  color: #fff;
}

.contacts__form-btn:focus-visible:not(:active)::after {
  opacity: 1;
}

.contacts__form-btn:active {
  background-color: #7943A4;
  color: #fff;
}

.contacts__form-btn:active::before {
  opacity: 1;
}

.contacts__social-list {
  display: flex;
}

.contacts__social-item:not(:last-child) {
  margin-right: 20px;
}

.contacts__social-link {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-size: cover;
  outline: none;
  transition-property: opacity, border;
  transition-duration: .2s;
  transition-timing-function: linear;
}

.contacts__social-link:hover {
  opacity: .5;
}

.contacts__social-link:focus-visible:not(:active) {
  opacity: .5;
}

.contacts__social-link:active {
  opacity: 1;
  border: 1px solid #9643A4;
}

.whatsapp {
  background-image: url(/img/whatsapp.svg);
}

.telegram {
  background-image: url(/img/telegram.svg);
}

.contacts__map-container {
  width: 64.48%;
  height: 700px;
  background-color: #FFFFFF;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.footer {
  padding: 47px 0 52px;
  background-color: #000000;
}

.footer__container {
  display: flex;
}

.footer__logo-link {
  display: block;
  align-self: center;
}

.footer__logo-link:focus-visible,
.footer__logo-link:hover {
  transform: translateY(-5px);
}

.footer__social-list {
  display: flex;
  margin-left: auto;
}

.footer__social-item:not(:last-child) {
  margin-right: 20px;
}

.footer__social-link {
  display: inline-block;
  border-radius: 100px;
  outline: none;
}

.footer__social-link path {
  transition: fill .2s linear;
}

.footer__social-link:hover path,
.footer__social-link:focus-visible:not(:active) path {
  fill: #fff;
}

.footer__social-link:active path {
  fill: #9D5CD0;
}

@media (max-width: 1440px) {
  .header__logo-link {
    margin-right: 1vw;
  }

  .header__nav {
    margin: 0 auto;
  }

  .header__nav-item:not(:last-child) {
    margin-right: 2vw;
  }

  .header__dropdown:not(:last-child) {
    margin-right: 3vw;
  }
}

@media (max-width: 1200px) {
  .header__top {
    padding: 24px 0;
  }

  .header__top-container {
    justify-content: space-between;
  }

  .header__burger {
    display: block;
  }

  .header__logo-link {
    margin: 0 auto;
    width: 188px;
  }

  .header__logo-img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .header__top-links {
    position: absolute;
    flex-direction: column;
    z-index: 10;
    padding: 50px;
    padding-top: 35px;
    top: 0;
    left: 0;
    align-items: flex-start;
    justify-content: flex-start;
    height: 768px;
    width: 100%;
    background: rgba(0, 0, 0, 0.9);
    transition: transform .2s linear;
    transform: translateX(-101%);
  }

  .is-active {
    transform: none;
  }

  .burger-exit {
    display: block;
    margin-bottom: 35px;
  }

  .header__nav {
    margin: 0;
  }

  .header__nav-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .header__nav-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__nav-item-link {
    font-size: 24px;
    line-height: 100%;
  }

  .header__entry-link {
    padding: 19px 88px;
    margin-top: auto;
    margin-left: 0;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
  }

  .header__top-search-btn {
    display: block;
    margin-right: 0;
    align-self: center;
  }

  .header__top-search-container {
    position: absolute;
    right: 50px;
    top: 40%;
  }

  .search-exit {
    display: none;
  }

  .header__bottom {
    display: none;
  }

  .hero {
    padding-top: 215px;
    padding-bottom: 115px;
  }

  .hero__container-content {
    max-width: 661px;
  }

  .hero__title {
    margin-bottom: 10px;
  }

  .hero__text {
    margin-bottom: 133px;
  }

  .hero__slide-1 {
    background-image: url(/img/hero-slide-1-1024.jpg);
  }

  .hero__slide-2 {
    background-image: url(/img/hero-slide-2-1024.jpg);
  }

  .hero__slide-3 {
    background-image: url(/img/hero-slide-3-1024.jpg);
  }

  .gallery {
    background-image: url(/img/gallery-back-1024.jpg);
  }

  .gallery__left-column {
    width: 30.3%;
  }

  .gallery__slider-container {
    width: calc(69.7% - 50px);
  }

  .gallery__swiper {
    height: 594px;
  }

  .gallery__slide {
    height: 280px;
  }

  .catalog__title {
    margin-right: 43px;
  }

  .catalog__languages-list {
    transform: translateY(8px);
  }

  .catalog__artist {
    flex: 0 1 437px;
    margin-right: 50px;
  }

  .catalog__accordion {
    flex: 1 0 437px;
  }

  .catalog__item-ul {
    max-height: 400px;
  }

  .catalog__item-ul-btn {
    margin-right: 66px;
  }

  .events__list {
    margin: 0 -13px;
  }

  .events__card {
    margin-bottom: 50px;
    padding: 0 13px;
  }

  .events__card-container {
    min-height: auto;
    height: 100%;
  }

  .events__card-container-content {
    padding: 3px 24px 52px 35px;
    min-height: 435px;
  }

  .events__card-title {
    margin-bottom: 2px;
    line-height: 33px;
  }

  .events__description {
    padding-right: 7px;
  }

  .events__btn {
    padding: 15px 34px;
  }

  .books {
    background-image: url(/img/books-back-1024.jpg);
  }

  .books__left-column {
    margin-right: 15px;
    width: 30.3%;
  }

  .books__slider-container {
    margin-bottom: 0;
    padding-top: 25px;
    align-self: flex-start;
    width: calc(69.7% - 15px);
  }

  .books__card-img {
    margin-bottom: 2px;
    width: 100%;
    max-height: 320px;
    object-fit: contain;
  }

  .projects__slider-container {
    padding: 0 52px;
  }

  .projects__partners-heading {
    margin-bottom: 22px;
  }

  .projects__partners-card {
    height: 128px;
  }

  .projects__partners-logo {
    max-height: 51%;
    max-width: 78%;
  }

  .contacts__left-column {
    flex: 1 1 487px;
    padding: 72px 50px 40px 50px;
  }

  .contacts__form-input {
    width: 87%;
  }

  .contacts__social-item:not(:last-child) {
    margin-right: 30px;
  }

  .contacts__social-link {
    width: 59px;
    height: 59px;
  }

  .contacts__map-container {
    flex: 1 1 537px;
    height: 700px;
  }

  .footer {
    padding: 42px 0 48px;
  }

  .footer__social-item:not(:last-child) {
    margin-right: 30px;
  }

  .footer__social-link svg {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 992px) {
  .header__top-search-container {
    padding: 0 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
  }

  .header__top-search-form {
    margin-right: 25px;
    width: 100%;
  }

  .header__search-input {
    width: 100%;
  }

  .search-exit {
    display: block;
    align-self: center;
  }

  .hero__slide-1 {
    background-image: url(/img/hero-slide-1-768.jpg);
  }

  .hero__slide-2 {
    background-image: url(/img/hero-slide-2-768.jpg);
  }

  .hero__slide-3 {
    background-image: url(/img/hero-slide-3-768.jpg);
  }

  .gallery {
    background-image: url(/img/gallery-back-768.jpg);
  }

  .gallery__container {
    flex-direction: column;
  }

  .gallery__left-column {
    margin-bottom: 35px;
    width: 100%;
    max-width: 280px;
  }

  .gallery__filter .choices__list--dropdown {
    background: rgba(0, 0, 0, 0.9);
  }

  .gallery__left-text {
    display: none;
  }

  .gallery__slider-container {
    margin-bottom: 30px;
    width: 100%;
  }

  .gallery__left-text-768 {
    display: block;
  }

  .catalog__title {
    margin-right: auto;
  }

  .catalog__languages-list {
    justify-content: space-between;
    width: 66.7%;
    transform: none;
  }

  .catalog__languages-item:not(:last-child) {
    margin-right: auto;
  }

  .catalog__description {
    margin-bottom: 20px;
  }

  .catalog__content {
    flex-direction: column-reverse;
  }

  .catalog__artist {
    margin-right: 0;
  }

  .catalog__artist-img {
    margin-bottom: 21px;
  }

  .catalog__accordion {
    margin-bottom: 50px;
  }

  .catalog__item-ul {
    max-height: 300px;
  }

  .catalog__item-ul-btn {
    margin-right: 59px;
  }

  .events {
    padding-top: 80px;
  }

  .events__list {
    margin: 0 -17px;
  }

  .events__card {
    padding: 0 17px;
    width: calc(100% / 2);
  }

  .events__card:not(:nth-child(-n+2)) {
    display: none;
  }

  .books {
    padding-top: 92px;
    padding-bottom: 82px;
    background-image: url(/img/books-back-768.jpg);
  }

  .books__container {
    flex-direction: column;
  }

  .books__left-column {
    margin-bottom: 22px;
    width: 100%;
  }

  .books__checkbox-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    max-height: 180px;
  }

  .books__checkbox-item {
    width: 100%;
    max-width: 228px;
  }

  .books__checkbox-item:not(:nth-child(-n+9)) {
    margin-left: 30px;
  }

  .books__checkbox-label {
    display: flex;
    align-items: baseline;
  }

  .books__checkbox-label::before {
    flex: 1 0 10px;
    max-width: 10px;
  }

  .books__slider-container {
    width: 100%;
  }

  .books__swiper {
    margin: 0 auto;
    max-width: 614px;
  }

  .projects__description {
    margin-bottom: 25px;
  }

  .projects__partners-heading {
    margin-bottom: 30px;
  }

  .projects__partners-card {
    height: 105px;
  }

  .projects__partners-logo {
    max-height: 80%;
    max-width: 87%;
  }

  .projects__btn-prev,
  .projects__btn-next {
    top: 35%;
  }

  .contacts__left-column {
    padding: 72px 45px 40px 50px;
    flex: 1 1 430px;
  }

  .contacts__map-container {
    flex: 1 1 338px;
  }

  .contacts__form-input {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .h2-reset {
    font-size: 28px;
    line-height: 38px;
  }

  .container {
    padding: 0 15px;
  }

  .header__top {
    padding: 7px 0;
  }

  .header__burger svg {
    width: 25px;
    height: 18px;
  }

  .burger-exit {
    margin-bottom: 10px;
  }

  .burger-exit svg {
    width: 15px;
    height: 15px;
  }

  .header__top-links {
    padding: 15px;
    padding-bottom: 30px;
    height: 355px;
  }

  .header__nav-item:not(:last-child) {
    margin-bottom: 0;
  }

  .header__nav-item-link {
    font-size: 16px;
    line-height: 32px;
  }

  .header__entry-link {
    padding: 10px 30px;
    font-size: 12px;
    line-height: 16px;
  }

  .header__logo-link {
    width: 97px;
  }

  .header__search-btn {
    align-self: flex-end;
    transform: translateY(-5px);
  }

  .header__search-btn svg {
    width: 18px;
    height: 18px;
  }

  .header__top-search-container {
    padding: 15px;
    height: 75px;
    background: rgba(0, 0, 0, 0.9)
  }

  .header__top-search-form {
    margin: 0 auto;
    max-width: 400px;
  }

  .search-exit {
    align-self: flex-start;
  }

  .search-exit svg {
    width: 15px;
    height: 15px;
  }

  .hero {
    padding-top: 75px;
    padding-bottom: 45px;
  }

  .hero__container-content {
    padding-top: 5px;
    text-align: center;
  }

  .hero__title {
    font-size: 32px;
    line-height: 37px;
  }

  .hero__text {
    padding: 0 10px;
    margin-bottom: 42px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }

  .hero__btn {
    padding: 12px 18px;
    font-size: 12px;
    line-height: 16px;
  }

  .about {
    padding-top: 50px;
    padding-bottom: 42px;
  }

  .about__title {
    margin-bottom: 12px;
  }

  .about__description {
    font-size: 14px;
    line-height: 28px;
  }

  .catalog {
    padding-top: 50px;
  }

  .catalog__heading-section {
    margin-bottom: 20px;
    flex-direction: column;
  }

  .catalog__title {
    margin-bottom: 12px;
  }

  .catalog__languages-list {
    width: 100%;
  }

  .catalog__languages-item {
    width: 32px;
    height: 32px;
  }

  .catalog__languages-btn {
    width: 32px;
    height: 32px;
    background-size: contain;
  }

  .catalog__languages-btn-active {
    transform: translateY(-6px);
  }

  .catalog__languages-btn-active::before {
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
  }

  .catalog__description {
    display: none;
  }

  .ui-accordion .ui-accordion-header {
    padding: 20px 0;
    font-size: 18px;
  }

  .ui-accordion .ui-accordion-content {
    padding: 21px 0;
  }

  .ui-accordion .ui-icon {
    top: 20px;
    width: 30px;
    height: 30px;
    background-size: 11px 11px;
  }

  .catalog__item-ul {
    max-height: 100%;
  }

  .catalog__artist {
    padding-right: 1px;
  }

  .catalog__artist-img {
    margin-bottom: 14px;
  }

  .events__card-container-content {
    padding: 3px 17px 52px 28px;
    min-height: 433px;
  }

  .books {
    padding: 50px 0;
  }

  .books__title {
    margin-bottom: 12px;
  }

  .books__checkbox-list {
    margin-bottom: 19px;
    max-height: 100%;
  }

  .books__checkbox-item {
    position: relative;
    max-width: 100%;
  }

  .books__checkbox-item:not(:nth-child(-n+9)) {
    margin-left: 0;
  }

  .books__checkbox-heading {
    position: relative;
    padding: 3px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .books__checkbox-heading::after {
    content: '';
    position: absolute;
    right: 0;
    top: 30%;
    width: 12px;
    height: 12px;
    background-image: url(/img/arrow-down.svg);
    background-size: cover;
    background-position: center;
  }

  .checkbox-heading-active::after {
    transform: rotate(0.5turn) translateY(-2px);
  }

  .books__checkbox-label {
    display: none;
    position: relative;
    padding: 3px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  }

  .books__checkbox-label::after {
    content: '';
    margin-left: auto;
    width: 12px;
    height: 12px;
    background-color: transparent;
    background-image: url(/img/checkbox-exit.svg);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0;
  }

  .active-checkbox {
    display: flex;
  }

  .books__checkbox:checked ~ .books__checkbox-label {
    display: flex;
  }

  .books__checkbox:checked ~ .books__checkbox-label::after {
    opacity: 1;
  }

  .nowrap-span {
    white-space: normal;
  }

  .projects {
    padding: 51px 0;
  }

  .projects__title {
    margin-bottom: 13px;
  }

  .projects__description {
    margin-bottom: 10px;
  }

  .projects__partners-heading {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .projects__slider-container {
    padding: 0 48px;
  }

  .projects__btn-prev, .projects__btn-next {
    top: 25%;
  }

  .projects__partners-card {
    height: 65px;
  }

  .projects__partners-logo {
    max-height: 65%;
    max-width: 80%;
  }

  .contacts__title {
    padding: 0 15px;
    margin-bottom: 8px;
  }

  .contacts__address-container {
    padding: 0 15px;
  }

  .contacts__address-naming {
    font-size: 18px;
    line-height: 25px;
  }

  .contacts__address {
    margin-top: -5px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 19px;
  }

  .contacts__container {
    padding: 0;
    flex-direction: column-reverse;
  }

  .contacts__left-column {
    padding: 20px 15px;
    flex: 1 1 auto;
    justify-content: flex-start;
    border: none;
    width: 100%;
  }

  .contacts__left-heading {
    font-size: 18px;
  }

  .contacts__form-input {
    margin-bottom: 20px;
  }

  .contacts__form-btn {
    margin-bottom: 20px;
    padding: 10px 33px;
    font-size: 12px;
    line-height: 16px;
  }

  .messengers-heading {
    margin-bottom: 8px;
  }

  .contacts__social-item:not(:last-child) {
    margin-right: 20px;
  }

  .contacts__social-link {
    width: 50px;
    height: 50px;
  }

  .contacts__map-container {
    width: 100%;
    flex: 1 1 320px;
  }

  .footer {
    padding: 20px 0;
  }

  .footer__container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__social-list {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .footer__social-link svg {
    width: 50px;
    height: 50px;
  }

  .footer__logo-img {
    width: 97px;
  }
}

@media (max-width: 600px) {
  .header__top-search-form {
    max-width: 200px;
  }

  .hero__slide-1 {
    background-image: url(/img/hero-slide-1-mobile.jpg);
  }

  .hero__slide-2 {
    background-image: url(/img/hero-slide-2-mobile.jpg);
  }

  .hero__slide-3 {
    background-image: url(/img/hero-slide-3-mobile.jpg);
  }

  .gallery {
    padding: 50px 0;
  }

  .gallery__title {
    margin-bottom: 15px;
  }

  .gallery__filter-span {
    margin-bottom: 6px;
  }

  .gallery__left-column {
    max-width: 320px;
    margin-bottom: 40px;
  }

  .gallery__slider-container {
    display: flex;
    margin-bottom: 18px;
    padding-top: 0;
    flex-direction: column-reverse;
  }

  .swiper-navigation-container {
    margin-bottom: 0;
    align-self: center;
  }

  .custom-btn-prev {
    margin-right: 16px;
  }

  .custom-pagination {
    margin-right: 16px;
  }

  .gallery__swiper {
    margin-bottom: 20px;
    height: 100%;
  }

  .gallery__slide {
    height: 367px;
  }

  .events {
    padding: 30px 0;
    padding-top: 53px;
  }

  .events__title {
    margin-bottom: 11px;
  }

  .events__container {
    position: relative;
    overflow: hidden;
  }

  .events__list {
    margin: 0;
    margin-bottom: 12px;
    flex-wrap: nowrap;
    overflow: visible;
  }

  .events__card {
    margin-bottom: 0;
    padding: 0;
    width: 100%;
  }

  .events__card-figcaption {
    padding: 5px 10px 2px 10px;
  }

  .events__card-title {
    margin-bottom: 35px;
  }

  .events__pagination {
    position: relative;
    display: block;
  }

  .events__pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    outline: none;
  }

  .swiper-pagination-bullet-active {
    background: #666666;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
  }

  .events__btn {
    display: none;
  }

  .books {
    padding-bottom: 2px;
  }

  .books__swiper-navigation-container {
    display: none;
  }

  .books__swiper-wrapper-mobile {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  .books__card {
    margin-bottom: 48px;
    padding: 0 15px;
    flex: 1 1 50%;
    max-width: 50%;
  }

  .books__card-img {
    margin-bottom: 0;
  }

  .mobile-disabled {
    display: none;
  }

  .mobile-active {
    display: block;
  }

  .books__card-content {
    display: flex;
    flex-direction: column;
  }

  .books__naming,
  .books__author-name,
  .books__book-price,
  .books__order-btn {
    font-size: 12px;
    line-height: 16px;
    color: #fff;
  }

  .books__author-name {
    margin-bottom: 0;
  }

  .books__book-price {
    position: relative;
    margin-bottom: 13px;
    right: auto;
    bottom: auto;
    order: 3;
  }

  .books__order-btn {
    padding: 10px 15px;
    order: 4;
    width: 100%;
    text-align: center;
  }
}
